<div class="messages-wrapper">
  <div class="messages-container" *ngFor="let message of messages" style="display: flex; gap: 5px">
    <div class="message">{{message.data}}</div>
    <button class="edit-message" (click)="openEditMessage(message)">edit</button>
  </div>
  <ng-container class="edit-container" *ngIf="currentEditMessage">
    <input [(ngModel)]="currentEditMessage.data" />
    <button (click)="updateMessage()">update</button>
  </ng-container>
  <textarea class="text-area" [(ngModel)]="message"></textarea>
  <button class="submit-btn" (click)="handleSubmitNewMessage()">Submit</button>
</div>


