<div class="messages-wrapper">
  <div class="messages-container">
    <div class="message" *ngFor="let message of messages">{{message.data}}
      <button class="edit-message" (click)="openEditMessage(message)">edit</button>
    </div>
    <ng-container class="edit-container" *ngIf="currentEditMessage">
      <input class="update-input" [(ngModel)]="currentEditMessage.data" />
      <button class="update-btn" (click)="updateMessage()">update</button>
    </ng-container>
  </div>
  <textarea class="text-area" [(ngModel)]="message" placeholder="Ожидает ввода сообщения"></textarea>
  <button class="submit-btn" (click)="handleSubmitNewMessage()">Submit</button>
</div>


